<%- model_class = Ingredient -%>
<div class="page-header">
  <h1><%=t '.title', :default => Ingredient %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:unit) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.id %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.unit %></td>
        <td><%=l ingredient.created_at, format: :long %></td>
        <td>
          <%= link_to 'Show', ingredient %>
          <%= link_to 'Edit', edit_ingredient_path(ingredient) %>
          <%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ingredient_path,
            :class => 'btn btn-primary' %>
