<% url = request.path_info %>
<% if url.include?('new_customer_order_form') %>
  <%= simple_form_for(@customer) do |f| %>
    <div class="row">
    <%= f.error_notification %>
    <%= render 'forms/customer/customer_section', :f => f %>
    <%= f.simple_fields_for :orders, Order.new do |order| %>
      <%= render 'forms/order/order_section', :f => order %>
      </div>
      <%= render 'forms/order_item/order_item_section', :f => order %>
    <% end %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% else %>
  <%= simple_form_for(@order) do |f| %>
    <div class="row">
    <%= f.error_notification %>
    <%= render 'forms/customer/customer_section', :f => f %>
    <%= f.simple_fields_for :orders, Order.new do |order| %>
      <%= render 'forms/order/order_section', :f => order %>
      </div>
      <%= render 'forms/order_item/order_item_section', :f => order %>
    <% end %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#datepicker").datepicker({
      autoclose: true,
      todayHighlight: true
    }).datepicker('update', new Date());
  });
function first_nameVals() {
  var first_nameValues = $( "#first_name_source" ).val();
  var first_name_locationValues = $( "#first_name_location" ).val();
  $( ".first_name_location" ).val( first_nameValues );
}
$( "#first_name_source" ).change( first_nameVals );
function last_nameVals() {
  var last_nameValues = $( "#last_name_source" ).val();
  var last_name_locationValues = $( "#last_name_location" ).val();
  $( ".last_name_location" ).val( last_nameValues );
}
$( "#last_name_source" ).change( last_nameVals );
</script>

<script type="text/javascript">

function valueUpdate() {
  var pastValues = "";
  var stocktypeValue = "";
  var categoryValue = "";
  var unitValue = "";

  $( ".questions" ).each(function( i ) {
    if (!$(this).hasClass("category")){
      if ( pastValues === "empty"){
        $(this).val("empty");
        $(this).prop('disabled', true);
      } else {
        $(this).prop('disabled', false);
        $(this).find('.options').hide();
        $(this).find('.'+pastValues+'_class').show();
      }
      if ($(this).hasClass("unit")){
        unitValue = $(this).val();
      }
      if ($(this).hasClass("stocktype")){
        stocktypeValue = $(this).val();
      }
    } else{
      categoryValue = $(this).val();
    }
    pastValues = $(this).val();
  });
}
function pageUpdate() {
  var customer_idValue = $( ".customer_page" ).val();
  if (customer_idValue === "empty"){
    window.location.href = "/new_customer_order_form";
  } else {
    window.location.href = "/customers/"+customer_idValue+"/new_order";
  }

}


$( "select" ).change( valueUpdate );
$( ".customer_page" ).change( pageUpdate );


</script>

