<%= simple_form_for(@stock_type) do |f| %>
  <%= f.error_notification %>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stock Type</h3>
      </div>
      <div class="panel-body">
        <div class="form-inputs">
          <div class="col-sm-6">
            <%= f.input :name, input_html: { id: "name_location"}%>
          </div>
          <div class="col-sm-6">
            <%= f.association :base_stock_type, input_html: { id: "base_stock_type", class: "selectpicker base_stock_type", "data-live-search":"true"} %>
          </div>
          <div class="col-sm-12">
            <%= f.input :unit, input_html: { id: "unit"}, collection: ([ "Individual", "24 - Box","36 - Box", "Gourmet Box"]), input_html: { class: "selectpicker", "data-live-search":"true"}%>
            <%= f.input :packaging, input_html: { id: "packaging"}, collection: ([ "Loose", "3-Pack","1-Pack","Twist Tie-Bagged","Bow-Bagged", "Gourmet-Pack"]), input_html: { class: "selectpicker", "data-live-search":"true"}%>
            <%= f.input :sellable%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ingredients</h3>
      </div>
      <div class="panel-body">
        <div class="form-inputs">
          <div id='ingredients'>
            <%= f.simple_fields_for :ingredients do |ingredient| %>
              <%= render 'ingredient_fields', :f => ingredient %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add ingredient', f, :ingredients, class: "btn btn-default add-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript">

  $( "#base_stock_type" ).change( nameVals );
  function nameVals() {
    var base_stock_typeValues = $( "#base_stock_type" ).val()
    if(!base_stock_typeValues.trim()) {
      $("#name_location").prop('disabled', false);
    }
    else {
      $("#name_location").prop('disabled', true);
    }
    $( "#name_location" ).val("");
  }

</script>


