<%- model_class = StockType -%>
<div class="page-header">
  <h1><%=t '.title', :default => StockType %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stock_types.each do |stock_type| %>
      <tr>
        <td><%= stock_type.id %></td>
        <td><%= stock_type.name %></td>
        <td><%=l stock_type.created_at, format: :long %></td>
        <td>
          <%= link_to 'Show', stock_type %>
          <%= link_to 'Edit', edit_stock_type_path(stock_type) %>
          <%= link_to 'Destroy', stock_type, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_stock_type_path,
            :class => 'btn btn-primary' %>
